
@font-face{
  font-family: "poppins";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}


*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: "poppins", sans-serif;
}
